<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <context:component-scan base-package="com"/>

    <aop:aspectj-autoproxy/>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="127.0.0.1"/>
        <property name="port" value="587"/>
        <property name="username" value="username"/>
        <property name="password" value="password"/>
    </bean>

    <bean id="freeMarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="defaultEncoding" value="ISO-8859-1"/>
        <property name="templateLoaderPath" value="/templates/"/>
    </bean>

    <bean id="notificationInterceptor" class="com.util.notification.interceptors.NotificationInterceptor"/>

</beans>
